{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="text-center">
        <h1 id="title">{{ game.title }}</h1>
        {% if user.is_superuser %}
        <button class="btn btn-edit" slug="{{ game.slug }}">Edit</button>
        <button class="btn btn-delete" slug="{{ game.slug }}">Delete</button>
        {% endif %}
    </div>
    <div class="row d-flex align-items-start">
        <div class="col card cell border-5">
            <div class="row card-body details">
                <div class="col image-container">
                    {% if "placeholder" in game.featured_image.url %}
                    <img class="card-img-top" id="image" src="{% static 'images/default.jpg' %}"
                        alt="placeholder image">
                    {% else %}
                    <img class="card-img-top" id="image" src=" {{ game.featured_image.url }}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6 cell">
                    <h3 class="text-center">Game Details</h3>
                    <dl class="mt-3">
                        <div class="row">
                            <div class="col">
                                <dt>Developed by</dt>
                                <dd id="developer">{{ game.developer }}</dd>
                                <dt>Published by</dt>
                                <dd id="publisher">{{ game.publisher}}</dd>
                                <dt>Platform</dt>
                                <dd id="platform" data-id={{game.platform}}>{{ platform }}</dd>
                            </div>
                            <div class="col">
                                <dt>Genre</dt>
                                <dd id="genre">{{ game.genre }}</dd>
                                <dt>Release date</dt>
                                <dd id="release">{{ game.release }}</dd>
                                <dt>Game rating</dt>
                                <dd id="age">{{ game.age_rating}}</dd>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col card cell description">
            <div class="card-body">
                <div class="card-text">
                    <h3>Description</h3>
                    <div id="description">{{ game.description | safe }}</div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- News Entries Column -->
            <div class="col-12 mt-3 left">
                <h2>Related posts:</h2>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}"
                                    alt="{{ post.title }} Image">
                                <a href="{% url 'post' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                </a>
                                <hr />
                                <p class="card-text text-muted h6">{{ post.created_on }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">PREV &laquo;</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>


    {% if user.is_superuser %}
    <!-- Update details -->
    {% load crispy_forms_tags %}
    <div class="col-md-4 card mb-4 mt-3" style="display:none;" id="form_card">
        <div class="card-body">
            <h3>Update game details:</h3>
            <form id="form" method="post" class="mt-3" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <!--submit form-->
                <div class="text-center">
                    <button id="submit_button" type="submit" class="btn btn-signup btn-lg">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <!-- confirm deletion -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete game?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your game?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% endblock content %}

    {% block extras %}
    <script src="{% static 'js/games.js' %}"></script>
    {% endblock %}