{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container p-4 position-relative">
  <div class="row g-0">
    <div class="col-sm-10 col-lg-7 masthead-text text-center p-3 auto">
      <!-- Post title goes in these h1 tags -->
      <h1 class="p-2 fs-3" id="title">{{ post.title }}</h1>
      <!-- Post author goes before the | the post's created date goes after -->
      <p class="post-subtitle"><a href="{% url 'game' game.slug %}" id="topic" topic="{{ game.id }}">{{ game }}</a>
        |
        updated on
        {{ post.updated_on }}</p>
      <!--Edit button-->
      {% if user.is_superuser %}
      <button class="btn btn-edit mx-4" slug="{{ post.slug }}">Edit</button>
      <button class="btn btn-delete mx-4 danger" slug="{{ post.slug }}">Delete</button>
      {% endif %}
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-9 col-sm-12 card mb-4 mt-3 left p-3 auto">
      <div class="card-intro" id="intro">
        {{ post.intro }}
      </div>
      <div class="card-body" id="content">
        {{ post.content | safe }}
      </div>
      <div class="image-container">
        <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image">
      </div>
    </div>
  </div>
  {% if user.is_superuser %}
  <!-- Update details -->
  {% load crispy_forms_tags %}
  <div class="container mt-4">
    <div class="col-sm-12 col-lg-9 card form-card mb-4 mt-3 auto" style="display: none;" id="form">
      <div class="card-body">
        <h3>Update post details:</h3>
        <form id="postForm" method="post" class="mt-3" enctype="multipart/form-data">
          {{ form | crispy }}
          {% csrf_token %}
          <!--submit form-->
          <div class="text-center">
            <button id="submitButton" type="submit" class="btn form-button btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- confirm deletion -->
  <div class="modal fade position-absolute" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your post?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn
            btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>  

{% endblock content %}

{% block extras %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}