body {
    background-color: #cb2323;
}

.image-container{
    margin-block: auto;
}

.width-60 {
    width:60%;
}

.auto {
    margin:auto;
}

.col{
    min-width: min-content;
}

.cell {
    margin: .4em;
}

a {
    text-decoration: none;
    color: #0dcaf0;
}
main h1 {
    font-size: 1.75em;
}

main p {
    
}

dd, dt {
    min-width: max-content;
}



h2 {
    font-size: 1.4em;
}


/*******************Colors**********************/
.red-o {
    color: #E84610;
}

.light {
    background-color: #8c8a8a;
    color: rgb(69, 102, 81);
}


.dark-bg {
    background-color: hsl(210, 21%, 32%);
}

.main-bg {
    background-color: #000000;
}

.card {
    background-color: rgb(255, 215, 215);
    color:#000000
}
/************************************************/

/*******************links************************/

.nav-link {
    font-size: 1.1em;
    color: #170072;
}
.post-link {
    text-decoration: none;
}
.post-link:hover,
.page-link {
    color: #E84610;
}
.link {
    color: #107a7a;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #065656;
    text-decoration: underline;
}
/************************************/
.post-card{
    height: 460px;
    overflow: hidden;
}

.thin {
    font-weight: 300;
}
.social-media{
    width: 3em;
}
a>img{
    width: 100%;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}


.description {
    padding-top: 0;
}

.game-card {
    -max-width: 100%;
    -border: #0d6efd 1em double;
    padding: 1em;
}

.image-container {
    position: relative;
}

.image-flash {
    min-width: 30%;
}

.scale {
    width: 100%;
    height: auto;
}

.game-title {
    color: black;
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
}

.-masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}



.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #198754;
    color: black;
    width: 5em;
    font-weight: 600;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: black;
    color: #198754;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: black;
    background: red;
    width: 5em;
    font-weight: 500;
}


.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/*social media links*/
.fab.fa-facebook-square{
    font-size:1.5em;
}
.fab.fa-square-x-twitter{
    font-size: 1.5em;
}
.fab.fa-instagram-square{
    font-size: 1.5em;
}
.fab.fa-youtube-square{
    font-size: 1.5em;
}
